<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <div id="rq" class="no-border">
      <div class="chart-view"><canvas id="chartA"></canvas></div>
      <div class="chart-view"><canvas id="chartB"></canvas></div>
      <div class="chart-view"><canvas id="chartC"></canvas></div>
      <div class="chart-view"><canvas id="chartD"></canvas></div>
    </div>
  </body>
</html>
